@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
   font-family: "Poppins", "sans-serif";
   background-color: gray;
   margin: 0;
}

.m-nav {
   background-color: lightgray;
   margin-bottom: 20px;
}

.m-title {
   font-size: 30px;
   font-weight: 600;
}

.m-search {
   border: 1px solid #000000;
}

.m-btn {
   color: #000000;
   border: 1px solid #000000;
}

.m-container {
   margin: 0 15px 0 15px;
}

.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: lightgray;
   margin-top: 10px;
   padding-top: 10px;
}

@media (max-width: 630px) {
   .m-nav-container {
      justify-content: center !important;
   }
}